button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 0;
	background: $color__background-button;
	box-shadow: none;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: none;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
